.main {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.carousel-container {
  padding-top: 30px;
}

.tweets-container {
  padding-top: 20px;
  text-align: center;
}

.img-container img {
  width: 100%;
}

.info ul {
  list-style: none;
  padding: 0;
}

.card {
  margin-bottom: 20px;
}

.card-head {
  padding-top: 7px;
  text-align: center;
  background-color: #a12020;
  color: white;
}

.card-list {
  margin-top: 10px;
}

.table-wrapper h4{
  margin-top: 80px;
}

.table thead {
  background-color: #a12020;
  color: white;
}

.table-title {
  border: none;
}

.grid-element {
  text-align: center;
  margin-bottom: 30px;
}

.grid-element img {
  display: block;
  width: 80%;
  margin: auto;
}

.grid-element img:hover {
  opacity: .7;
  transition: opacity .5s;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.grid-title {
  text-align: center;
  margin-bottom: 50px;
}

.title-photo {
  text-align: center;
  margin-top: 50px;
}

.title-photo img {
  width: 50%;
  margin: auto;
  display: block;
}

.roster-wrapper {
  margin-top: 50px;
  text-align: center;
}
