.loader {
  width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 30vh;
  line-height: 50px;
  text-align: center;
  -webkit-transform: translate(20%, 100%);
          transform: translate(20%, 100%);
}

.loading-text{
  font-size:27.26px;
  fill:#423225;
  font-family: 'Nunito-Bold', 'Nunito';
  font-weight:700;
}

.basketball-1{
  fill: #423225;
}

.basketball-2{
  fill: #f18521;
}
.basketball-3 {
  fill:#d27528;
}

#loading-icon {
  display: block;
  margin: auto;
  position: absolute;
}

#basketball {
  position: fixed;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 3s infinite linear;
          animation: spin 3s infinite linear;
}

#text {
  position: fixed;
  right: 75px;
  top: -25px;
  width: 200px;
  height: 200px;
  -webkit-animation: reverse-spin 3s infinite linear;
          animation: reverse-spin 3s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes reverse-spin {
  0% {
    -webkit-transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
