<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <title>Gameday Ballers</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gameday Ballers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-right ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coaches">Coaches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pre-nba">Pre-NBA</a>
        </li>
        <li class="nav-item">
          <b><a class="nav-link" href="#">About</a></b>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main">

    <div class="image-grid">
      <div class="grid-title">
        <h3>Pre-NBA Affiliation</h3>
      </div>
      <div class="row">
        <div class="grid-element col-md-4 col-sm-6">
          <a href="/pre-nba/arizonastate">
            <img style="margin: 20% auto 20% auto;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Arizona_State_Athletics_wordmark.svg/500px-Arizona_State_Athletics_wordmark.svg.png "/>
            Arizona State
          </a>
        </div>
        <div class="grid-element col-md-4 col-sm-6">
          <a href="/pre-nba/sandiegostate">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/San_Diego_State_Aztecs_logo.svg/400px-San_Diego_State_Aztecs_logo.svg.png "/>
            San Diego State
          </a>
        </div>
        <div class="grid-element col-md-4 col-sm-6">
          <a href="/pre-nba/stvincentstmary">
            <img style="width: 45%;" src="http://www.stvm.com/sites/default/files/logo-header-new_0.png"/>
            St. Vincent-St. Mary HS
          </a>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
